.employeeList {

}

.employeeList > h1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.employeeList > table {
    width: 100%;
}

.employeeList__tableEntry {
    text-align: center;
}

.employeeList__tableEntryLink {
    text-decoration: none;
    margin-right: 5%;
    border-radius: 12px;
    display: inline-block;
    width: 5vw;
    height: 2.5vh;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    color: black;
}

.employeeList__tableEntryLink:hover {
    background-color: rgb(185, 184, 184);
}