.header {
    display: flex;
    align-items: center;
    height: 100%;
}

.header > a {
    color: white;
    text-decoration: none;
    font-size: 5vh;
    margin-left: 2%;
    margin-right: 5%;
}

.header__addEmployee {
    height: 60%;
    width: 10%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    padding: 0 2%;
    font-size: 2.55vh;
}

.header__addEmployee:hover {
    cursor: pointer;
    background-color: lightgray;
    transition: 0.2s;
    
}

.header__addEmployee > h2 {
    font-size: 2.55vh;
    color: black;
}